<div ng-controller="CredentialController">

<h1 class="page-header">Credentials</h1>

<div class="row">
    <div class="col-sm-4">
        <p>OAuth 2.0 allows users to share specific data with you (for example, contact lists) while keeping their
            usernames, passwords, and other information private.</p>

        <button class="btn btn-primary" ng-disabled="user.hasOwnProperty('consumer_key')" ng-click="action.create_consumer_key()">Create new Consumer Key</button>
    </div>
    <div class="col-sm-7 col-sm-offset-1" ng-show="user.hasOwnProperty('consumer_key')">
        <div class="table-header">Consumer key for your app</div>
        <br>
        <div class="table-responsive">
            <table class="table table-credentials">
                <tbody>
                <tr>
                    <th>USER ID</th>
                    <td>{{user.id}}</td>
                </tr>
                <tr>
                    <th>CLIENT ID</th>
                    <td>{{user.client_id}}</td>
                </tr>
                <tr>
                    <th>CLIENT SECRET</th>
                    <td>{{user.client_secret}}</td>
                </tr>
                <tr>
                    <th>CONSUMER KEY</th>
                    <td>{{user.consumer_key}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-default" ng-click="action.reset_consumer_key()">Reset Consumer Key</a>

    </div>
</div>
</div>
